.popover {
    margin: 0;
    background-color: var(--bg-primary);
    border: 1px solid var(--bordwer-secondary);
    box-shadow: 0 4px 6px -1px var(--Colors-Effects-Shadows-shadow-md_01, rgba(0, 0, 0, 0.10)), 0 2px 4px -2px var(--Colors-Effects-Shadows-shadow-md_02, rgba(0, 0, 0, 0.06));
    border-radius: var(--radius-3xl);
    inset: unset;
    opacity: 0;
    transition: opacity 0.1s ease, visibility 0.3s ease, transform .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: scale(.5);
    padding: 16px;

    &.visible {
        transform: scale(1);
        opacity: 1;
    }

    &::backdrop {
        background-color: transparent;
    }

    &.overlay::backdrop {
        background-color: transparent;
        transition: background-color .3s ease;
    }

    &.overlay.visible::backdrop {
        background-color: #00000040;
    }

}

.btn {
    width: fit-content;
    cursor: pointer;
}
