.main {
    width: 100%;
    height: 100vh;
    padding: 24px;
    padding-top: calc(24px + var(--admin-header-height));
    padding-bottom: calc(24px + var(--safeBottom, 0px));
    background-color: var(--bg-primary);

    @media screen and (max-width: 650px) {
        padding: 16px;
        padding-top: calc(16px + var(--admin-header-height));
        padding-bottom: calc(16px + var(--safeBottom, 0px));
    }
}