# Logs

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files 
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.npmrc
.opencode

build1/

server/uploads

.env
.env1

test.*

admin-build/

build/
build/*
build-admin/
build-client/

gitprotocol.md

docs
docs1

ai/