.input {
    /*  width: 200px; */
    position: relative;
    text-align: start;

    .label,
    .info,
    .error {
        display: block;
        transition: .2s;
        font-weight: 400;
        margin-top: 8px;
    }

    .info {
        color: var(--text-tertiary) !important;
    }

    .label {
        font-weight: 400;
        font-size: 14px;
        padding-bottom: 8px;
        color: var(--text-secondary);
    }

    .error {
        color: var(--text-error-primary) !important;
    }

    input,
    textarea {
        background-color: var(--bg-primary);
        border: 1px solid var(--border-primary);
        border-radius: var(--radius-3xl);
        color: var(--text-primary);
        direction: inherit;
        padding: 10px 14px;
        transition: border-color .2s, box-shadow .2s;
        font-size: 14px !important;
        display: block;
        width: 100%;
        font-weight: 400;

        &:focus {
            border-color: var(--border-brand);
            box-shadow: 0 0 0 1px var(--border-brand);
        }

        &[type='textarea'] {
            line-height: 1.35;
            height: 130px;
            resize: none;
        }

        &::placeholder {
            text-transform: capitalize;
            color: var(--text-placeholder);
            opacity: .8;
        }

        &:read-only {
            cursor: default;
        }

    }

    .error {
        height: 0;
        overflow: hidden;
    }

    &.invalid.visited {
        .error {
            height: 30px;
        }

        input {
            border-color: var(--border-error);

            &:focus {
                box-shadow: 0 0 0 1px var(--border-error);
            }
        }
    }

    &.withIcon {
        input {
            padding-inline-start: 32px;
        }

        .icon {
            position: absolute;
            top: calc(50% - 8px);
            inset-inline-start: 10px;
            color: var(--text-tertiary);
        }
    }

    @media screen and (max-width:650px) {
        width: unset;
    }
}