.userInfo {
    .avatar {
        cursor: pointer;
        font-weight: bold;
        font-size: var(--text-xs);
        width: 32px;
        height: 32px;
        border: 1px solid var(--border-primary);
        border-radius: var(--radius-full);
    }
}