.card {
    padding: 20px;
    background-color: var(--bg-surface);
    border-radius: var(--radiusL);
    box-shadow: var(--shadowL);
    border: 1px solid var(--border-default);

    .title {
        font-size: 24px;
        width: 100%;
        font-weight: 600;
        color: var(--txtColor);
        margin-bottom: 15px;
        margin-top: -5px;
        display: flex;
        align-items: center;
        justify-content: unset;
    }

    .close {
        color: var(--txtColorSub);
        position: absolute;
        inset-inline-start: 15px;
        top: 15px;
        font-size: 25px;
        cursor: pointer;
        opacity: .7;
        transition: opacity .2s;

        &:hover {
            opacity: 1;
        }
    }
}