.header {
    height: var(--admin-header-height);
    top: 0;
    border-bottom: 1px solid var(--border-tertiary);
    background-color: var(--bg-primary);
    position: fixed;
    padding: calc(12px + var(--safeTop, 0px)) 24px 12px;
    transition: inset-inline-start .3s, width .3s;
    width: 100%;
    z-index: 999;

    .menuButton {
        padding: 0;

        svg {
            font-size: 24px !important;
            width: 24px;
            height: 24px;
        }
    }

    @media screen and (min-width: 650px) {
        inset-inline-start: var(--sidebarWidth);
        width: calc(100vw - var(--sidebarWidth));
    }
}