.menu {
    padding-bottom: 50px;

    .sectiontitle {
        color: var(--text-primary-on-brand);
        opacity: 0.65;
        font-size: var(--text-xs);
        font-weight: var(--font-weight-bold);
        transition: .3s;
        text-transform: uppercase;
        margin-top: 20px;
    }

    .menuItem {
        width: 100%;
        color: var(--text-primary-on-brand);
        padding: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        text-decoration: none;
        font-weight: var(--font-weight-regular);
        font-size: var(--text-sm);
        border-radius: var(--radius-lg);
        margin-block: 8px;
        transition: .2s;

        &:hover {
            background-color: var(--bg-brand-primary-hover);
            color: var(--text-primary-on-brand);
        }

        &.active {
            font-weight: var(--font-weight-semibold);
            background-color: var(--text-brand-secondary);
            color: var(--bg-primary);
        }

        svg {
            color: var(--text-primary-on-brand) !important;
            font-size: 20px;
            flex-shrink: 0;
        }

        &.active svg {
            color: var(--bg-primary) !important;
        }

        .name {
            transition: .3s;
        }
    }

    &.mini {
        .sectiontitle {
            opacity: 0;
        }

        .menuItem {
            .name {
                opacity: 0;
            }
        }
    }
}