.button {
    border: none;
    cursor: pointer;
    font-size: var(--text-sm);
    font-weight: 600;
    padding: 10px 14px;
    border-radius: var(--radius-3xl);
    background-color: var(--bg-brand-primary);
    border: 2px solid var(--Gradient-skeuemorphic-gradient-border, #ffffff1f);
    user-select: none;
    color: var(--text-white);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    text-transform: capitalize;
    text-align: center;
    flex-shrink: 0;

    svg {
        font-size: 16px;
        width: 16px;
        height: 16px;
    }

    &.text,
    &.text-brand,
    &.vertical {
        background-color: transparent;
        color: var(--text-primary);
        border: none;
        box-shadow: none;
        width: fit-content;
    }

    &.text-brand {
        padding: 0;
        color: var(--text-brand);
    }

    &.vertical {
        flex-direction: column;
        gap: 2px;
        font-size: 10px;
        transform: translateY(-2px);
        padding: 0;

        svg {
            font-size: 24px;
            width: 24px;
            height: 24px;
            margin-bottom: 4px;
        }
    }

    &.onPrimary {
        color: var(--text-white)
    }

    &.outline {
        background-color: var(--bg-primary);
        color: var(--text-secondary);
        border: 1px solid var(--Colors-Border-border-primary, #C5CFCC);
    }
}